<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:theme="@style/Theme.TranslateTheme"
        android:networkSecurityConfig="@xml/network_security"
        tools:targetApi="31">

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@style/Theme.TranslateTheme"
            tools:replace="android:theme"/>

        <activity android:name=".ui.StartActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TranslateTheme"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.ImagePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/imagepicker_ImagePickerTheme"/>

        <activity android:name=".ui.PrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.ocrPage.CaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.ocrPage.OCRActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.ocrPage.ResultActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.translatePage.TranslateActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.languagePage.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.translatePage.TranslateResultActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobId"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
    </application>

</manifest>